h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}

img {
  width: 350px;
  padding: 10px;
}

.characterPage {
  display: flex;
  background: #242629;
  padding: 50px;
  margin-top: 50px;
  font-weight: 300;
  border-top: 3px solid #2cb67d;
}

.imageCharacter {
  margin-right: 30px;
}

.category {
  font-size: 1.4rem;
  margin-bottom: 0;
  justify-content: left;
}

.characterHead {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.characterInfos > ul {
  margin: 0;
  padding: 0;
}

.characterInfos > ul > li {
  margin-bottom: 5px;
}

.charStatusDead {
  border-left: solid 4px tomato;
  padding-left: 7px;
}
.charStatusAlive {
  border-left: solid 4px #2cb67d;
  padding-left: 7px;
}
.charStatusUnknown {
  border-left: solid 4px #f8c32d;
  padding-left: 7px;
}

.organicLoading {
  width: 70px;
  height: 50px;
  background: linear-gradient(135deg, #547e28, #6f9631);
  border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  animation: organicLoading 3s infinite;
  margin: 0 auto;
}

@keyframes organicLoading {
  0% {
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  }
  33% {
    border-radius: 30% 70% 30% 70% / 32% 30% 70% 68%;
  }
  66% {
    border-radius: 70% 30% 70% 30% / 68% 70% 30% 32%;
  }
  100% {
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  }
}
