nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.logoHeader {
  width: 70px;
}
.navLink{
  color: #ffffff;
  padding: 5px;
}
.navLink:hover{
  border-left: #D0EC5D 3px solid;
}
/* input {
  outline-color: #F0E14A;
  height: px;
} */
