nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.logoHeader {
  width: 70px;
}

.navLink{
  color: #ffffff;
  padding: 10px;
}

.navLink:hover{
  border-left: #7ED957 3px solid;
}

