nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.logoHeader {
  width: 70px;
}

.navLink{
  color: #ffffff;
  padding: 10px;
}

.navLink:hover{
  border-left: #2CB47B 3px solid;
}

@media screen and (max-width: 600px){
  nav{
    margin: 0 auto;
  }
}

