.inputSearch {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100px;
}

.inputSearch input {
  border: none;
  border-bottom: solid 3px #fffffe;
  padding: 20px;
  outline: none;
  background: transparent;
  font-size: 1.8rem;
  color: #fffffe;
}

.inputSearch > div {
  position: relative;
}

.inputSearch > div > button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(50%);
}

.inputSearch input:focus + {
  border-bottom: solid 4px #fffffe;
}

.inputSearch input::placeholder:focus {
  color: #fffffe;
}

.inputSearch button {
  background: transparent;
  border: none;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
.inputSearch{
  margin: 0 auto;
}
  .inputSearch input{
    width: 250px;

  }
}
